.login{
    
}

.login__form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    align-items: center;
}

.login__form > h1{
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.login__form > input {
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #444;
    font-size: 20px;
    margin: auto;
}

.submit__btn{
    padding: 17px;
    margin: auto;
    margin-top: 10px;
    background: #222;
    border: none;
    color: #fff;
    border-radius: 4px;
}
